@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e3e7eb;
}


nav {
  background-color: #f4f3f3;
  height: 7vh;
  display: flex;
}


nav div {
  display: flex;
  align-items: center;
}


nav .left-side {
  flex: 50%;
  padding-left: 90px;
}


nav .right-side {
  flex: 50%;
  padding-right: 90px;
  justify-content: flex-end;
}


nav ul {
  list-style-type: none;
  margin-left: 40px;
}


nav ul li {
  display: inline;
  margin-left: 40px;
}


nav ul li a {
  color: black;
  text-decoration: none;
}


nav ul li a.active {
  color: #1e272e;
  font-weight: 700;
}

nav .right-side a.active {
  color: white;
  font-weight: 700;
}

nav .right-side a {
  font-size: 15px;
  padding: 8px 20px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.personal {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-content {
  padding: 10px;
  width: 80%;
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  padding: 45px;
  border-radius: 5px;
}

.container-content .left {
  flex: 70%;
  margin-right: 75px;
  /* background-color: rgb(243, 210, 243); */
}

.container-content .left p {
  text-align: justify;
}

.container-content .right {
  flex: 30%;
  align-items: flex-end;
  /* background-color: rgb(243, 210, 243); */
}